# Pip will install these exact versions

# Install tokenizer first to enforce version before sentence-transformers
tokenizers==0.21.1
transformers==4.49.0
sentence-transformers==2.7.0
torch==2.0.1

# Core
pandas==2.2.3
numpy==1.26.4
tqdm==4.67.1
duckdb==1.2.2
streamlit==1.45.1
tiktoken==0.9.0

# Add Matplotlib for background_gradient with styling
matplotlib==3.7.3
cohere==5.15.0
openai
